button {
  color: lime;
  border: 2px;
  background-color: orange;
  border-radius: 20px;
  margin: 21px
}

div {
  color: orange;
  border:4px;
  background-color: #ffff4f;
  border-radius: 20px
  
}

h1 {
  user-select: none;
}

p

body {
  zoom: 0.7;
